link(rel="stylesheet" href="stylesheets/vendor/normalize.css")
link(rel="stylesheet" href="stylesheets/vendor/jquery.jscrollpane.css")
link(rel="stylesheet" href="stylesheets/vendor/jquery.selectbox.css")
link(rel="stylesheet" href="stylesheets/vendor/nivo-slider.css")
link(rel="stylesheet" href="stylesheets/vendor/jquery.products-gallery.css")
link(rel="stylesheet" href="stylesheets/vendor/imageTour.css")
link(rel="stylesheet" href="stylesheets/ie.css")
link(rel="stylesheet" href="stylesheets/screen.css")
